.headerWall {
    width: 100vw; 
    background-color: #ECD4EA;
    padding: 3%;
    margin: -2%;
}

#imgUser {
    margin-left: 110px;
}

ul {
    padding: 4% 8% 0% 8%;
}

li {
    background-color: white;
    border: 2px solid #ECC4B1;
    border-radius: 8px;
    list-style: none;
    margin: 2px 0px 20px 0px;
}

#btnLogOut {
    margin: 4% 0% 0% 60%;
    background-color: #ECD4EA;
    color: #923367;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 13px;
    border: 1px solid #923367;
    border-radius: 5px;
}

#inputPost {
    background-color: white;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 13px;
    border-radius: 10px;
    width: 230px;
    height: 35px;
    border:none;
    margin: 5% 0% 0% 0%;
}

.btnDeletePost {
    background-color: #350B1F;
    color: white;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 4px 8px 4px 8px;
    margin-left: 90%;
    margin-top: 1%;
    border-radius: 14px;
    border:none;
    cursor: pointer;
}   
/* 
.modal-container {
    position: fixed;  
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5) ;    
    transition: all 500ms ease;
}

.modal {    
    
    width: 200px;
    height: 150px;
    margin: auto;
    background: white;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
   
    
} */

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}
  
.show {
    pointer-events: auto;
    opacity: 1;
}
  
.modal {
    background: linear-gradient(to right, #fe98d7, #87cdd1);
    /* background-color:#ffdff4; */
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

