.buttonClose {
    background-color: #350B1F;
    color: #c997c0;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 4px 8px 4px 8px;
    margin-left: 93%;
    margin-top: 2%;
    border-radius: 14px;
    border:none;
    }   
 
#imgWikiMoms {
    margin: 7% 0% 3% 0%;
    }   

.containerLogInGoogle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 4% 0%;
    border-radius: 8px;
    margin: 0% 7% 0% 7%;
    width: 86%;
    } 

.containerRegistration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ECD4EA ;
    padding: 8% 0% 6% 0%;
    border-radius: 8px;
    margin: 5% 5% 0% 5%;
    width: 90%;
    } 

#lineas {
    margin: 6% 0% 0% 0%
}


 
