/* Estilos del componente perfil.js con css grid*/
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 3fr 0.3fr;
    grid-gap:0.2rem;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
  
  }
  header{
    grid-area: header;
    
  }
  header .menu{
    display: flex;
    justify-content: space-around;
    padding: 15px
  }
  header .logo{
    font-family: Dancing Script;
    font-size: 25px;
  
  }
  header img{
    width: 50px;
  }
 .enlaces{
     display: none;
 }
  .setting:hover{
    background-color: #f8dc9b;
  }
  
  section{
    grid-area: section;
  }
  footer{
    background: #f9ffa7;
    grid-area: footer;
  }
  footer ul{
    display: flex;
    justify-content: space-around;
  }
  footer ul li{
    display: flex;
    flex-direction: column;
  }
  

  