/* Estilos del componente perfil.js con css grid*/
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 3fr 0.3fr;
    grid-gap:0.2rem;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
  
  }
  header{
    grid-area: header;
    
  }
  header .menu{
    display: flex;
    justify-content: space-between;
    padding: 11px;
  }
  .logo{
    font-family: Dancing Script;
    font-size: 20px;
  
  }
  header img{
    width: 50px;
    position: relative;
    cursor: pointer;
  }
 .enlaces{
    background-color: #ffff;
     display: none;
     position: absolute;
     top: 20px;
     right: 5px;
         
 }

 #configuracion:hover .enlaces{
   display: block;
  
}
  .setting:hover{
    background-color: #FFE8B4;
  }
 
  section .perfil{
    position: relative;
    top: -130px;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    align-items: center;
  }
  section #foto-perfil{
    width: 130px;
    height: 130px;
  }
  .descripcion{
    color: black;
    width: 100vw;
    padding-top: 10px;
    font-size: 18px;
    position: relative;
    top: 0px;
    text-align: center;
   }
  footer{
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: 0%;
    padding: 0%;
    margin: 0%;
    background-color: transparent;
    grid-area: footer;
  }
  footer ul{
    display: inline-flex;
    justify-content:space-between;
    width: 100%;
    padding-left: 0%;
    height: 100%;
    background-color: #FFE8B4;
    border-top: rgb(212, 212, 212) solid 1px;
  }
  footer ul li{
    margin: 0%;
    padding: 1em;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer ul  :hover {
    background-color: #FFD575;
   }
  

  