body {
    background-image: url(./img/huc.jpg);
    background-attachment: fixed;
    background-size: cover;
}

  .grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'column1 main main column2' 'footer footer footer footer'
  }
  .grid-container div {
    padding: 3vh; 
    color: black;
    text-align: center;
     
  }

  .colum1 {
    grid-area: column1;
  }
  
  .main {
     grid-area: main;
    justify-items: center;
    margin-top: 10vh;
  }
  
  .colum2 {
    grid-area: column2;
  }
  
  .inputIngreso{
    width: 250px;
    display: block;
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
    border: 0.5px solid rgb(1, 12, 15);
  }

  button {
    
    margin: 10px auto;
    border: 0.5px solid rgb(1, 12, 15);
    padding: 10px;
    background: #5F4053;
    border-radius: 10px;
    color: rgb(1, 12, 15);
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    color: white;
    background-color: rgb(1, 12, 15);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 20px;
}
  
  #btnI{
    margin-left: 2vw;
  }

  #mesagge {
    color: red;
  }
  #errorRegistro {
    color: red;
  }

  #botonGoogle {
      width: 50vmin;
    }
  
  #botonFacebook {
    width: 50vmin;
  }

  .icono {
    max-width: 25px;
    vertical-align: middle;
    padding: 5px;
    display: inline-block;
}

.login {
  padding: 0 10px;
  background-color: white;
  display: block;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  cursor: pointer;
    
}
.login {
  margin: 10px auto;
}

.login p {
  margin: 1em;
  display: inline-block;
  color: #737373
} 

.login.facebook p{
  margin: 1em 0.4em;
}

/* .parrafos {
  display: block;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 20px;
} */

  form {
    background: rgba(235, 228, 228, 0.82);
    width: 30vw;
    margin-left: 20vw;
  }

  #reglasHuc {
      background-color:rgba(235, 228, 228, 0.82) ;
      
    }
  
  details {
      width: 48vw;
      margin-right: 0;
  }
  ol {
    text-align: start;
    justify-content: flex-start;
  }
  li {
      padding: 2vh;
      text-align: start;
      margin-left: 5vw;
  }
#buttonReglas {
    margin-top: 5vh;
}

.footer {
    grid-area: footer;
  }