* {
   margin: 0%;
   padding: 0%;
   text-decoration: none;
 
}
body {
    background-repeat: no-repeat;
    background: url("Imagenes/img2blur.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

 @media (max-width:500px){
    body{
        background-image: url("Imagenes/fondoblur.jpg");
          }
   .contenedorInicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   } 
   #logoInicio{
    width: 286px;
    height: 150px;
   }
 footer img {
    width: 15px;
    height: 15px;
 }   

}

  footer{   
    position: absolute;
    text-align: center;
    text-decoration: none;
    margin: 1em;
    width: 100%;
    bottom: 0; /* esta llevando el footer al final pero debemos revisar si asignandole un tamaño a body estaria sobrando */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
