* {
    margin: 0;
    padding: 0;
  }
  .grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'column1 main main column2' 'footer footer footer footer'
  }
  .grid-container div {
    padding: 5vmin; 
    color: black;
    text-align: center;
    background-color: #EDF0F2;
  }
  .header {
    grid-area: header;
    background-image: url(./img/huc.jpg);
    background-size: 100% auto; 
    height: 25vh;
  }
  
  .colum1 {
    grid-area: column1;
  }
  
  .main {
     grid-area: main;
    justify-items: start;
  }
  
  .colum2 {
    grid-area: column2;
  }
  
  .inputIngreso{
    width: 250px;
    display: block;
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
    border: 0.5px solid rgb(1, 12, 15);
  }

  button {
    display: block;
    margin: 10px auto;
    border: 0.5px solid rgb(1, 12, 15);
    padding: 10px;
    background: #5F4053;
    border-radius: 10px;
    color: rgb(1, 12, 15);
    font-size: 16px;
    cursor: pointer;
  }

  

.registro{
  color: rgb(1, 12, 15);
    text-align: center;
    margin-left: 13px;
    margin-top: 5px;
    cursor: pointer;
}
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    font-size: 20px;   
  }

  #parrafos {
    font-size: 14px;
  }

  
  #mesagge {
    color: red;
  }
  #errorRegistro {
    color: red;
  }

  #botonGoogle {
      width: 50vmin;
    }
  
  #botonFacebook {
    width: 50vmin;
  }

  .icono {
    max-width: 25px;
    vertical-align: middle;
    padding: 5px;
    display: inline-block;
}

.login {
  padding: 0 10px;
  background-color: white;
  display: block;
  border-radius: 10px;
  margin: 10px auto;
  width: 250px;
     
}


.login p {
  margin: 1em;
  display: inline-block;
  color: #737373;
  font-size: 20px;
} 

.login.facebook p{
  margin: 1em 0.4em;
}
 
ol {
  text-align: start;  
}

  .footer {
    grid-area: footer;
  }
  