/*
      <h2>Popup</h2>

      <div class="popup" onclick="myFunction()">Click me to toggle the popup!
      <span class="popuptext" id="myPopup">A Simple Popup!</span>
      </div>


      function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
      }*/

 /*     popupPassword {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    
      .popupPassword .messagePopup {
        visibility: hidden;
        width: 160px;
        background-color: rgba(85, 85, 85, 0.623);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 99;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
       
      }
      .popupPassword .messagePopup::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 99;
      }
      .popupPassword .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
      }
    
      @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
      }
      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
      }